
.hero-section {
    position: relative;
}

.hero-btn {
    background-color: #f9a825;
    color: black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.bg-light-custom {
    background: #f7f1da;
}

.text-dark-custom {
    color: #212529;
}

.bg-gray-custom {
    background: #f0f0f0;
}


.trainer-card img.trainer-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}


.about-section {
    background: #fff4cc;
    color: #212529;
    padding: 70px 0;
}

.section-divider {
    width: 80px;
    height: 4px;
    background: #f9a825;
    margin: 0 auto 25px;
    border-radius: 2px;
}

.about-box {
    background: rgba(255,255,255,0.8);
    padding: 1.5rem;
    border-left: 6px solid #f9a825;
    border-radius: 1rem;
}


.stats-box {
    background: rgba(255,255,255,0.75);
    padding: 1rem;
    border-radius: 0.75rem;
}

.body-yellow {
    background-color: #fff8e1; 
}
.services-hero-section {
    padding: 60px 0;
    text-align: center;
    background-color: #fff8e1;
    border-bottom: 2px solid #212529;
}


.service-btn {
    background-color: #f9a825;
    color: black;
    font-weight: 600;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}


.service-img {
    height: 250px;
}

body {
    background-color: #fff8e1;
}


.card .btn {
    background-color: #f9a825;
    color: black;
    font-weight: 600;
}


.badge-popular {
    z-index: 1;
}

.text-muted-dark {
    color: #6c757d;
}

.carousel-inner .d-flex {
    gap: 1rem;
}


.body-yellow {
    background-color: #fff8e1; 
}


.location-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px; 
}

.contact-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.map-container {
    height: 380px; 
    overflow: hidden;
    border-radius: 0.5rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#avatarPreview {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 0.5rem;
}

.btn-save {
    background-color: #f9a825; 
    color: black;
    font-weight: 600;
}


body {
    background-color: #f2f2f2;
}


.login-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #fff8e1, #f2f2f2);
}


.login-section img {
    border-radius: 0.5rem;
}

.login-card {
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    border-left: 5px solid #f9a825;
}


.btn-login {
    background-color: #f9a825;
    color: black;
    font-weight: 600;
}


.login-links a {
    color: #f9a825;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}